
:root{

    --primary-color: #f7ebd9;
    --secondary-color: #e0b354;
    --grid-color: lightgray;
    --a-hover-color: #b3f2e8;
    --border-bottom: rgba(0, 0, 0, 0.3);
    --background-main: #918a7b;
    --secondary-text: #041919;

}
 *{

}
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #f7ebd9;
    background-color: #918a7b;
  }

  h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f7ebd9;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  a {
    color: #f7ebd9;
  }
  a:visited{
    color: #edb138;
  }
  a:active {
    color: #f4ebd9;
  }
  a:hover, a:focus {
  text-decoration: none;
  }
  .about { height: 100%;
    display: flex;
    flex-direction: column;
    justofy-content: center;
    text-align: 2%
  }
  .about {
    display: flex;
    width: auto;
    padding-left: 2%
  }

  button
  .button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-color);
    color: #382f2f;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  button:hover,
  button:focus,
  button:hover,
  button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

  .button__secondary {
    background-color: var(--secondary-color);
    color: #070707;
  }
  .button, button {

    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #b1f9f5;
    color: #070303;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
  }

button:hover,
button:focus,
.button:hover,
.button:focus {

  cursor: pointer;
  opacity: 0.8;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact {
  display: block;
  width: 100%;
  padding-left: 2%
}
.contact__info {
  display: block;
  width: 100%;
  padding: 2%
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}
.grid__item {
  background-color: var(--grid-color);

}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.navigation-list {
  margin-bottom: 0%;
  margin-top: 44.406px;
  padding: 0;
}

.navigation-list__item--active {
   text-decoration: none;
    margin-top: 13px;
   padding: 0 5px;
   display: block;
   width: 958px;
   height: 38px;
  }

.message__box{
  display: flex;
  width: auto;
  padding: 2%
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin: auto;

}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    height:auto;
    margin-right: 40px;
    border-radius: 50%;
  }


th, td {
  padding: 15px;
  text-align: center;
}
/*animate the sun in svg*/
@keyframes sun-color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446, 48px);
  }
  to {
    transform: translate(100px, 50px);
  }
}

/*actual animation*/
.sun {
    animation-duration: 4s;
    animation-name: sun-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /*animation: 4s color-change infinite alternate linear; (short form)*/
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /*animation: 30s cloud-move infinite alternate linear; (short form)*/
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear; /*using the short form here*/
}

@media all and (max-width: 500px) {
  .project {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .project {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project {
    grid-gap: 10px;
  }
}

  .project__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  target="_blank"
  button,
  .button1,
  .button2,
  .button3,
  .my-input {
  /* your styling goes here */
  }

  @keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
translate(x,y)
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

  @keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
    .cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
from {
  transform: translate(446px, 48px);
}
to {
  transform: translate(100px, 48px);
}
}
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  a {
    color: $primary-color;
  }
